body{
    text-align: center;
}

canvas{
    border: 2px solid black;
    background-image: url(grasses68.gif);
}
#talkbox{
    border: 2px solid rgb(113, 43, 226);
    height: 30px;
    color: brown;
    font-size: 26px;
    font-weight: bold ;
}